<div>
  <a href="">
    <img class="logo2" src="https://ocp.cscglobal.com/cdn/gateway/csc/csc-logo-marketing2.png">
  </a>
  <a href="/">
    <img class="backImage" src="https://image.flaticon.com/icons/png/512/58/58452.png">
  </a>

  <div class="container2">
    <div class="jumbotron jumbotron-fluid">
      <div class="heading">
        <h2>
          Demand Letters
        </h2>
      </div>
    </div>
    <br>
    <table id="example" class="table table-striped" style="width:100%">
      <thead>
        <tr>
          <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Id</th>
          <th>Defendant Name</th>
          <th>Plaintiff Name</th>
          <th>Nature of Case</th>
          <th>Document Type</th>
          <th>Initiation Date</th>
          <th>Days Elapsed</th>
          <th>Acknowledge</th>
          <th>View</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of fillingData; index as i">
          <td>DL_CSC_100{{i+1}}</td>
          <td>{{data.defendant}}</td>
          <td>{{data.plaintiff}}</td>
          <td>{{data.natureOfCase}}</td>
          <td>{{data.documentType}}</td>
          <td>{{data.initiationTimestamp}}</td>
          <td>{{daysLeft[i]}}</td>
          <td>
            <a class="menu_links" (click)="acknowledge(i)" *ngIf="data.demandLetterAcknowledgeStatus == 'false'">
              <img src="assets/img_167389.png" style="width: 26px; margin-left:2vw" />
            </a>
            <a class="menu_links" *ngIf="data.demandLetterAcknowledgeStatus == 'true'">
              <img src="assets/tick.png" style="width: 24px; margin-left:2vw; cursor:default" />
            </a>
          </td>
          <td>
            <a class="menu_links" (click)="pdfDownload(data.letterId)" *ngIf="data.demandLetterAcknowledgeStatus == 'true'">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4r2ZjW06FOGw5YKI0t9BJZm3N1l8_F5tkCLVyF5yMjHEShGrJrg" style="width: 30px" />
            </a>
            <a class="menu_links" *ngIf="data.demandLetterAcknowledgeStatus == 'false'">
              <img title="Please acknowledge first" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4r2ZjW06FOGw5YKI0t9BJZm3N1l8_F5tkCLVyF5yMjHEShGrJrg" style="width: 30px; cursor: no-drop" />
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
