<a href="/">
  <img class="logo" alt="Logo" src="https://ocp.cscglobal.com/cdn/gateway/csc/csc-logo-marketing2.png">
</a>
<a href="/attorney">
  <img class="backImage" src="https://image.flaticon.com/icons/png/512/58/58452.png">
</a>
<a (click)="showTable()">
  <img class="showTableButton" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPr5U5CCOQxpisfq6A6WvRgtbLmWbP0UDTCkt1Jebb2E7fEkES">
</a>
<form [hidden]="submitClicked" (submit)="demandLetter($event)" [formGroup]="angularForm" autocomplete="on" novalidate>
  <div class="container">
    <div class="heading">
      <h1>
        Send Demand Letter
      </h1><br>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <label>
            <b>Registered Agent</b>
          </label>
          <select class="form-control" formControlName="registeredAgentName" id="registeredAgentName" (change)="typeChanged()">
            <option value="">---Select Agent---</option>
            <option value = {{name.registeredAgentID}} *ngFor="let name of registeredAgentName; index as i">
              {{name.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="form-group">
          <label>
            <b>Defendant's Name</b>
          </label>
          <select formControlName="defendantName" class="form-control" id="defendantName">
            <option *ngFor="let name of defendantName">
              {{name}}
            </option>
          </select>
        </div>
      </div>
    </div>

    <!-- <div class="form-group">
      <label>
        <br>
        <b>Registered Agent</b>
      </label>
      <select class="form-control" formControlName="registeredAgentName" id="registeredAgentName" (change)="typeChanged()">
        <option>---Select Agent---</option>
        <option *ngFor="let name of registeredAgentName; index as i">
          {{name.name}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>
        <b>Defendant's Name </b>
      </label>
      <select formControlName="defendantName" class="form-control" id="defendantName">
        <option *ngFor="let name of defendantName">
          {{name.name}}
        </option>
      </select>
    </div> -->

    <!-- <div class="form-group">
      <br>
      <label>
        <b>Defendant's Name</b>
      </label>
      <input class="form-control" formControlName="defendantName" type="text" id="defendantName">
    </div>

    <div *ngIf="angularForm.controls['defendantName'].invalid && (angularForm.controls['defendantName'].dirty || angularForm.controls['defendantName'].touched)" class="alert alert-danger">
      <div *ngIf="angularForm.controls['defendantName'].errors.required">
        Defendant's Name is required.
      </div>
    </div> -->

    <div class="form-group">
      <label>
        <b>Plaintiff's Name</b>
      </label>
      <input class="form-control" formControlName="plaintiffName" type="text" id="plaintiffName">
    </div>

    <div *ngIf="angularForm.controls['plaintiffName'].invalid && (angularForm.controls['plaintiffName'].dirty || angularForm.controls['plaintiffName'].touched)" class="alert alert-danger">
      <div *ngIf="angularForm.controls['plaintiffName'].errors.required">
        Plaintiff's Name is required.
      </div>
    </div>

    <div class="form-group">
      <label>
        <b>Nature of Case</b>
      </label>
      <select class="form-control" formControlName="natureOfCase" id="natureOfCase">
        <option value="">---Select Case---</option>
        <option value="Asbestos">Asbestos</option>
        <option value="Breach of Warranty">Breach of Warranty</option>
        <option value="Contract">Contract</option>
        <option value="Foreclosure">Foreclosure</option>
        <option value="Personal Injury">Personal Injury</option>
        <option value="Property">Property</option>
        <option value="Brief">Brief</option>
        <option value="Wrongful Death">Wrongful Death</option>
        <option value="Wrongful Termination">Wrongful Termination</option>
      </select>
    </div>

    <div class="form-group">
      <label>
        <b>Document Type</b>
      </label>
      <select class="form-control" formControlName="documentType" id="documentType">
        <option value="">---Select Document---</option>
        <option value="Affidavit">Affidavit</option>
        <option value="Amended Complain">Amended Complain</option>
        <option value="Amended Counterclaim">Amended Counterclaim</option>
        <option value="Appearance">Appearance</option>
        <option value="Assignment">Assignment</option>
        <option value="Bankruptcy Pleading">Bankruptcy Pleading</option>
        <option value="Brief">Brief</option>
        <option value="Child Support Document">Child Support Document</option>
        <option value="Citation">Citation</option>
        <option value="Claim">Claim</option>
        <option value="Complaint">Complaint</option>
        <option value="Counterclaim">Counterclaim</option>
        <option value="Declaration">Declaration</option>
        <option value="Demand Letter">Demand Letter</option>
      </select>
    </div>

    <div class="form-group">
      <label>
        <b>Upload Demand Letter &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
      </label>
      <input type="file" id="fileToUpload" name="letter" accept=".pdf">
    </div>


    <button routerLink="" type="button" style="margin-right: 8%" class="btn btn-secondary">
      Cancel
    </button>

    <button type="submit" class="btn btn-success" [disabled]="angularForm.controls['natureOfCase'].pristine || angularForm.controls['documentType'].pristine || angularForm.controls['defendantName'].pristine || angularForm.controls['defendantName'].invalid || angularForm.controls['plaintiffName'].pristine || angularForm.controls['plaintiffName'].invalid"
      class="btn btn-success">
      Submit
    </button>
  </div>
</form>


<div *ngIf="submitClicked" class="container2">
  <div class="jumbotron jumbotron-fluid">
    <div class="heading">
      <h2>
        Demand Letters
      </h2>
    </div>
  </div>
  <br>
  <table id="example" class="table table-striped" style="width:100%">
    <thead>
      <tr>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Id</th>
        <th>Defendant Name</th>
        <th>Plaintiff Name</th>
        <th>Nature of Case</th>
        <th>Document Type</th>
        <th>Initiation Date</th>
        <th>Days Elapsed</th>
        <th>View</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of fillingData; index as i">
        <td>DL_CSC_100{{i+1}}</td>
        <td>{{data.defendant}}</td>
        <td>{{data.plaintiff}}</td>
        <td>{{data.natureOfCase}}</td>
        <td>{{data.documentType}}</td>
        <td>{{data.initiationTimestamp}}</td>
        <td>{{daysLeft[i]}}</td>
        <td>
          <a class="menu_links" (click)="pdfDownload(data.letterId)">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4r2ZjW06FOGw5YKI0t9BJZm3N1l8_F5tkCLVyF5yMjHEShGrJrg" style="width: 27px" />
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
